* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container
{
  width: 800px;
  height: 500px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.user_content
{
  position: absolute;
  left: 166px;
  top: 30px;
  width: 634px;
  height: 470px;
  background: #f0f0f0;
  border-bottom-right-radius: 10px;
  font-family: 'Helvetica Neue Medium', serif;

}

@import './fonts/**/*.scss';
@import './components/**/*.scss';


